bed
models
_background_noise_
bird
cat
dog
happy
house
marvin
sheila
tree
wow
yes
no
up
down
left
right
on
off
go
zero
one
two
three
four
five
six
seven
eight
nine
stop
5244201.pdf
__pycache__/preprocessing.cpython-37.pyc
best79.2.h5
